.bookList {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   padding: 20px;
}

.bookItem {
   border: 1px solid #ccc;
   padding: 20px;
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.coverImage {
   width: 100%;
   height: auto;
}
