.header{
    @apply p-8 flex justify-between items-center bg-slate-800/60 py-5 border-b-2 mb-1;
    z-index: 99;

    .button{
        width: 60px;
        height: 60px;
        border-radius: 20%;
        background-color: #014047;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }

    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }

        &::after{
            top: -5px;
        }

        &::before{
            top: 5px;
        }
    }

    .burgerActive{

        &::after{
            transform: rotate(45deg);
            top: -1px;
        }

        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}